<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
      <canvas id="myChart"></canvas>
  </p>
  <div class='minmax'></div>
  <form>
    <input class="firstDate" type="date" placeholder="first date">
    <input class="secondDate" type="date" placeholder="second date">
    <select class="currency" name="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
    <button class="submit">Submit</button>
  </form>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>